<ion-content [fullscreen]="true">

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Favoritos</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--Recorre las peliculas por genero-->
  <div *ngFor="let pelicula of favoritoGenero">
    
    <ion-grid  *ngIf="pelicula.pelis.length > 0">

      <ion-row>
        <ion-col>
          <h4>{{ pelicula.genero }}</h4>
        </ion-col>
      </ion-row> 

      <!--Muestra la pelicula y su poster-->
      <app-slideshow-poster [peliculas]="pelicula.pelis"></app-slideshow-poster>

    </ion-grid>

  </div>

<!------------------------------------------------------------------------------>
<ion-list lines="full">
    <form [formGroup]="mainForm" (ngSubmit)="storeData()">
      <ion-item>
        <ion-label position="floating">Nombre película</ion-label>
        <ion-input formControlName="pelicula" type="text" required></ion-input>
      </ion-item>


      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">
            Añadir favorito
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>

    <ion-list>
    <ion-list-header>
      Películas
    </ion-list-header>

    <ion-item lines="inset" *ngFor="let data of Data">
      <ion-label>
        <h5>{{data.nombre_pelicula}}</h5>
      </ion-label>

      <div class="item-note" item-end>
        <ion-icon name="create" style="zoom:2.0" [routerLink]="['/pelicula/', data.id]"></ion-icon>        
        <ion-icon name="trash" style="zoom:2.0" (click)="deleteFavorito(data.id)"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
<!------------------------------------------------------------------------------>

</ion-content>
